{extends layout.latte}

{block title}O aplikace{/block}

{block body}



    <div class="container">
        <h1>O aplikaci</h1>

        <p>Projekt do předmětu Aplikační programové vybavení. Autorem je Tomáš Lepič. </p>
        <img src="https://media.giphy.com/media/1r97fktt4mCg7VsIP8/giphy.gif" alt="Tady měl být vtipný gif 🤨">
    </div>
{/block}