{extends layout.latte}

{block title}Kontaktní informace{/block}

{block body}



    <div class="container">
        <h1>Kontaktní informace</h1>
        <table class="table table-responsive table-responsive">
            <thead class="thead-dark">
            <tr>
                <th><b>ID kontaktní informace</b></th>
                <th><b>Typ kontaktu</b></th>
                <th><b>Kontakt</b></th>
                <th><b>Možnosti</b></th>
            </tr></thead>
        {foreach $cisla as $kontakt}
            <tr>
                <td>{$kontakt['id_contact']}</td>
                <td>{$kontakt['name']}</td>
                <td>{$kontakt['contact']}</td>
                <td><a href="{link deleteContact}?id={$kontakt['id_contact']}" class="btn btn-danger fa fa-trash"></a></td>

            </tr>
        {/foreach}
        </table>
    <a href="{link editContact}?id={$personid}" class="btn btn-primary">Přidat nové</a>
    </div>
{/block}