{extends layout.latte}

{block title}Upravit kontakty{/block}

{block body}



    <div class="container">
        <h1>Přidat kontaktní informace</h1>
        <form action="{link editContact}" method="post" class="form-horizontal">
            <div class="form-group" id="contacts">

                <label>Kontakt </label>
                <select class="custom-select form-control" id="selector">
                    {foreach $contacttype as $type}
                        <option>{$type['name']}</option>
                    {/foreach}
                </select>

                <input type="text" name="nickname" class="form-control" value="{$contact['contact']}">
                <input type="hidden" value="{$contacttype['name']}">
                <input type="submit" class="btn btn-primary" value="Přidat">
            </div>

        </form>


    </div>
{/block}