{extends layout.latte}

{block title}Upravit osobu{/block}

{block body}



    <div class="container">
        <h1>Upravit osobu</h1>
        <form action="{link editPerson}?id={$person['id_person']}" method="post" class="form-horizontal">
            <div class="form-group">
                <label>Přezdívka:</label>
                <input type="text" name="nickname" class="form-control" value="{$person['nickname']}">
            </div>
            <div class="form-group">
                <label>Křestní jméno</label>
                <input type="text" name="first_name" class="form-control" value="{$person['first_name']}">
            </div>
            <div class="form-group">
                <label>Příjmení</label>
                <input type="text" name="last_name" class="form-control" value="{$person['last_name']}">
            </div>
            <div class="form-group">
                <label>Datum narození</label>
                <input type="date" name="birth_day" class="form-control" value="{$person['birth_day']}">
            </div>
            <div class="form-group">
                <label>Výška</label>
                <input type="number" name="height" class="form-control" value="{$person['height']}">
            </div>
            <div class="form-group">
                <label>Pohlaví</label>
                <select name="gender" class="form-control" >
                    <option value="male">Muž</option>
                    <option value="female">Žena</option>
                    <option value="NULL">Nechci uvést</option>
                </select>
            </div>
            <button type="submit" onclick="
                this.disabled = 'disabled';
            };" class="btn btn-primary">Uložit</button>

        </form>

    </div>
{/block}