{extends layout.latte}

{block title}Osoby{/block}

{block body}

    <div class="container">
        <h1>Seznam osob</h1>
        <input type="text" id="myInput" class="form-control" onkeyup="peopleSearch()" placeholder="🔎 Klikněte pro vyhledávání podle jména">
        <br>


        <table class="table table-bordered table-responsive" id="people">
          <thead class="thead-dark">
            <tr>
                <th><b>ID</b></th>
                <th><b>Přezdívka</b></th>
                <th><b>Křestní jméno</b></th>
                <th><b>Příjmení</b></th>
                <th><b>Datum narození</b></th>
                <th><b>Výška</b></th>
                <th><b>Pohlaví</b></th>
                <th colspan="2">Možnosti</th>
                <th colspan="2">Kontaktní informace a adresy</th>

            </tr></thead>
            {foreach $people as $person}
            <tr>
                <td>{$person['id_person']}</td>
                <td>{$person['nickname']}</td>
                <td>{$person['first_name']}</td>
                <td>{$person['last_name']}</td>
                <td>{$person['birth_day']}</td>
                <td>{if $person['height']!=''}
                    {$person['height']} cm
                    {/if}
                </td>

                <td>{if $person['gender']=='male'}
                        Muž
                    {elseif $person['gender']=='female'}
                        Žena
                    {else}
                        Neuváděno
                    {/if}
                </td>
                <td>
                    <form action="{link deletePerson}?id_person={$person['id_person']}" method="post"
                          onsubmit="return confirm('Opravdu chcete smazat záznam?')">
                       <!-- <input type="submit" name="submit" value="Odstranit" class="btn btn-danger"> -->
                        <button type="submit" name="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </form>
                </td>
                <td> <a href="{link editPerson}?id={$person['id_person']}" class="btn btn-primary"><i class="fa fa-pen"></i></a>

                </td>
                <td align="center">
                    <a href="{link showContacts}?id={$person['id_person']}" class="btn btn-info"><i class="fa fa-portrait"></i></a>

                </td>
                <td align="center">
                    <a href="{link showLocation}?id={$person['id_person']}" class="btn btn-light"><i class="fa fa-building"></i></a>

                </td>
            </tr>
            {/foreach}
        </table>
    </div>
{/block}