<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">


    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">


    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/mysearch.js"></script>
    <script type="text/javascript" src="{$basePath}/js/onclickshow.js"></script>
    <script type="text/javascript" src="{$basePath}/js/changecolor.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body style="background-color: #ededed">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="nav1">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav">
            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="mainNav" >
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{link index}"><i class="fa fa-portrait"></i> Lidé</a>
                <a class="nav-item nav-link" href="{link newPerson}"><i class="fa fa-plus"></i> Přidání osoby</a>
                <a class="nav-item nav-link" href="{link showRelationships}"><i class="fa fa-atom"></i> Vztahy</a>
                <a class="nav-item nav-link" href="{link showMeetings}"><i class="fa fa-business-time"></i> Schůzky</a>
                <a class="nav-item nav-link" href="{link showAboutApp}"><i class="fa fa-info"></i> O aplikaci</a>
                <!--TODO poladit styly ikon -->
            </div>

        </div>
    </nav>

    {if isset($alert)}
        <p class="alert-danger">{$alert}</p>
    {/if}
    {if isset($info)}
        <p class="alert-success">{$info}</p>
    {/if}


{include body}
</body>
</html>