{extends layout.latte}

{block title}Kontaktní informace{/block}

{block body}



    <div class="container">
        <h1>Adresa</h1>
        <table class="table table-responsive table-responsive">
            <thead class="thead-dark">
            <tr>
                <th><b>Název</b></th>
                <th><b>Ulice</b></th>
                <th><b>Číslo popisné</b></th>
                <th><b>PSČ</b></th>
                <th><b>Stát</b></th>
                <th><b>Možnosti</b></th>

            </tr></thead>
        {foreach $adresy as $adresa}
            <tr>
                <td>{$adresa['name']}</td>
                <td>{$adresa['street_name']}</td>
                <td>{$adresa['street_number']}</td>
                <td>{$adresa['zip']}</td>
                <td>{$adresa['country']}</td>
                <td><a href="{link deleteContact}?id={$kontakt['id_contact']}" class="btn btn-danger fa fa-trash"></a></td>

            </tr>
        {/foreach}
        </table>
    <a href="{link editContact}?id={$personid}" class="btn btn-primary">Přidat nové</a>
    </div>
{/block}