{extends layout.latte}

{block title}Schůzky{/block}

{block body}


    <div class="container">
        <br>
       <button onclick="showForm()" class="btn btn-dark">Přidat schůzku <i class="fa fa-arrow-down"></i> </button>

        <form action="{link addMeeting}" method="post" class="form-horizontal" id="myForm" style="display: none">
            <div class="form-group">
                <label>Začátek</label>
                <input type="datetime-local" name="start" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Popis</label>
                <input type="text" name="description" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Trvání</label>
                <input type="time" name="duration" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Přidat</button>

        </form>


        <h3>Zobrazit schůzky</h3>
       <table class="table table-responsive table-responsive">
        <thead class="thead-dark">
           <tr>
            <th>Začátek schůzky</th>
            <th>Popis schůzky</th>
            <th>Trvání</th>
           </tr>
        </thead>
           {foreach $meetings as $schuzka}
            <tr>
                <td>{$schuzka['start']}</td>
                <td>{$schuzka['description']}</td>
                <td>{$schuzka['duration']}</td>
            </tr>
        {/foreach}
       </table>

    </div>
{/block}