{extends layout.latte}

{block title}Přidání osoby{/block}

{block body}

    <div class="container">
        <h1>Přidat osobu</h1>
        <form action="{link newPerson}" method="post" class="form-horizontal">
            <div class="form-group">
                <label>Přezdívka:</label>
                <input type="text" name="nickname" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Křestní jméno</label>
                <input type="text" name="first_name" class="form-control" required>
            </div>
            <div class="form-group">
            <label>Příjmení</label>
            <input type="text" name="last_name" class="form-control" required>
            </div>
            <div class="form-group">
            <label>Datum narození</label>
            <input type="date" name="birth_day" class="form-control">
            </div>
            <div class="form-group">
            <label>Výška</label>
            <input type="number" name="height" class="form-control">
            </div>
            <div class="form-group">
            <label>Pohlaví</label>
            <select name="gender" class="form-control">
                <option value="male">Muž</option>
                <option value="female">Žena</option>
                <option value="">Nechci uvést</option>
            </select>
            </div>
            <button type="submit" class="btn btn-primary">Přidat</button>

        </form>

    </div>
{/block}