{extends layout.latte}

{block title}Vztahy{/block}

{block body}



    <div class="container">
        <h1>Zobrazit vztahy mezi osobami</h1>
         
        <img src="https://media.giphy.com/media/4jzV9HSPBBiko/giphy.gif" alt="Wait for it 😘">


    </div>
{/block}